<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/employees}">All Employees</a>
<a th:href="@{/departments}">All Departments</a>

<form th:href="@{/employees/new}" th:object="${employee}" method="post">
    <table>
        <tr>
            <td>First name</td>
            <td>
                <input type="text" th:field="*{firstName}">
            </td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>
                <input type="text" th:field="*{lastName}">
            </td>
        </tr>
        <tr>
            <td>Age</td>
            <td>
                <input type="number" th:field="*{age}">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
