<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/employees}">All Employees</a>

<h1>All Departments</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Employees</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="department : ${departments}">
        <td th:text="${department.getId()}"></td>
        <td th:text="${department.getName()}"></td>
        <td th:text="${department.getCountOfEmployees()}"></td>
        <td >review</td>
    </tr>
    </tbody>
</table>
</body>
</html>
